html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
#skrollr-body {
	height: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
	background-color: grey;
}
.section {
	width: 100%; 
	height: 100%; /* the actual size of each section */
	max-height: 100vh; /* the actual size of each section */
	margin: 0;
	padding: 0;
}
#progressValue {
	position: fixed;
	top: 20px;
	left: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 20px;
	z-index: 9999;
}
#progressBar {
	position: fixed;
	background-color: green;
	top: 0px;
	margin: 0;
	padding: 0;
	z-index: 9999;
	height: 4px;
}