html, body {
	width: 100vw%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
#skrollr-body {
	height: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
	background-color: grey;
}
#progressValue {
	position: fixed;
	top: 20px;
	left: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 20px;
	z-index: 9999;
}
#progressBar {
	position: fixed;
	background-color: green;
	top: 0px;
	margin: 0;
	padding: 0;
	z-index: 9999;
	height: 4px;
}
.section {
	/*position: relative;*/
	width: 100vw; 
	height: 10000%; /* the actual size of each section */
	max-height: 10000vh; /* the actual size of each section */
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: red;
	/*display: none;*/
}

#back {
	background-image: url('../assets/images/1.png');
	background-attachment: fixed;
}
.circle {
	position: fixed;
	top: 65vh;
	left: 46.5vw;
	border-radius: 50%;
	width: 1.5vw;
	height: 1.5vw;
	background-color: white;
	z-index: 9999;
	opacity: 0;
}
#table {
	position: fixed;
	display: block;
	/*background-color:red;*/
	left: 34vw;
	top: 62vh;
	width: 32vw;
	height: 10vh;
	z-index: 9999;
	padding: 0;
	margin: 0;
	opacity: 0;
}
.square {
	/*position: absolute;*/
	display: inline-block;
	width: 7vw;
	height: 7vw;
	background-color: white;
	margin-right: 3vw;
}

#texttext {
	position: absolute;
	top: 60%;
}

#section1 {
	display: none;
}




